// construction.css
.page-template-construction {
    height:100%;
    font-family:Impact,Tahoma, Arial, sans-serif;
    color:#fff;
    background-color: #333;

    .wrap,
    .main,
    .container {
      height:100%;
    }
    .container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      > *{
        margin-bottom:20px;
        &:last-child {
          margin-bottom:0;
        }
      }
}
  // images
  .socials{
    list-style:none;
    // border:1px solid black;
    display:inline;
  }
  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline;
    list-style:none;
  }
}
