// header-nav css
.navbar{
  color: #fff;
  background-color: #333

list-style:none;
// border:1px solid black;
display:inline;
}

ul{
list-style:none;
padding: 0;
margin: 0;
}
li{
display: inline;
list-style:none;
}
}
